

.informacion_empresas_row {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

@media (max-width: 576px) {
    .informacion_empresas {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .productos_empresas {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .productos_empresas {
        padding-left: 50px;
    }
}


.btn_modal_cesta {
    padding-right: 15px;
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 3;
}

.btn_modal_cesta > button {
    width: 114px;
    height: 50px;
    color: #ffffff !important;
    background-color: #3eb291;
    padding: 0px !important;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.btn_modal_cesta > button > #icon_pedido {
    padding-left: 8px;
    padding-top: 5px;
}

.btn_modal_cesta > button h3 {
    width: 45px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 1px 0px 0px 0px;
}

.btn_modal_cesta > button > #content_mi_pedido {
    padding-top: 17px;
    padding-left: 2px;
  }
.btn_modal_cesta > button > #content_mi_pedido p {
    font-size: 11px;
    line-height: 12px;
}

.btn_modal_cesta > button > #content_mi_pedido h5 {
    font-size: 11px;
    font-weight: 800 !important;
}

.btn_modal_cesta > button:focus {
    box-shadow: none;
}

.btn_modal_cesta > button h6 {
    margin-top: -51px;
    margin-right: -6px;
    height: 17.5px;
    width: 17px;
    color: #ffffff;
    background: #9c5c32;
    font-size: 14px;
    border-radius: 50%;
    float: right;
}






















/* ----- MODAL ----- */
.modal_header_cesta {
    box-shadow: 0 6px 5px -5px #333333;
    z-index: 300;
}


.btn_close {
    display: block;
    width: 30px;
    height: 30px;
    background: #343a40;
    color: #ffffff;
    text-decoration: none;
    margin-top: -5px;
    margin-right: 0px;
    font-size: 25px;
    border: 1px solid #343a40;
}

.modal-title p {
    font-size: 14px;
    color: #ffffff;
}

.minimo_compra {
    background-color: #343a40 !important;
    color: #3eb291 !important;
    font-size: 13px !important;
    text-align: center;
}


.modal_body_cesta {
    width: 100% !important;
    height: auto !important;
}


#scroll_cesta {
    width: 100% !important;
    height: 100% !important;
    
}

#cuerpoCestaPedido {
    width: 100% !important;
    height: 100% !important;
    overflow: scroll;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 1px 8px 5px 5px;
}
#cuerpoCestaPedido::-webkit-scrollbar {
    -webkit-appearance: none;
}
#cuerpoCestaPedido::-webkit-scrollbar:vertical {
    width: 7px;
}
#cuerpoCestaPedido::-webkit-scrollbar:horizontal {
    height: 0px;
}
#cuerpoCestaPedido::-webkit-scrollbar-thumb {
    background-color: #7d838a;
    border-radius: 4px;
    border: 4px solid #7d838a;
}
#cuerpoCestaPedido::-webkit-scrollbar-track {
    border-radius: 10px;
}




#contenido_detalle_pedido {
    background-color: #ffffff;
    border-radius: 5px;
}

#contenido_producto_cesta {
    /* border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); */
    /* height: 142px; */
    border: 1px solid #bac5d1;
    border-radius: 5px;
}

.column_detalle_cesta_1 {
    padding-bottom: 10px;
    border-bottom-style: dashed; 
    border-bottom-width: 1px;
    border-bottom-color: #bac5d1;
}










.column_detalle_cesta_1 .imagen_producto_cesta {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.column_detalle_cesta_1 .imagen_producto_cesta img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.column_detalle_cesta_1 .imagen_producto_cesta .hover_img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}










.nombre_produc_cesta {
    font-weight: 700;
    line-height: 18px;
}
.descripcion_produc_cesta {
    line-height: 15px;
}

.padding_column_cesta,
.padding_column_cesta_1 {
    font-size: 12px;
}
.padding_column_cesta_1 {
    border-left-style: dashed; 
    border-left-width: 1px;
    border-left-color: #bac5d1;
    border-right-style: dashed; 
    border-right-width: 1px;
    border-right-color: #bac5d1;
}



.input_group_cant_prod_cesta {
	width: 100%;
	height: 25px;
    padding: 0 !important;
}
.input_group_cant_prod_cesta > input {
	width: 45%;
    height: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    border-left: 1px solid rgba(0,0,0,.1) !important;
    border-right: 1px solid rgba(0,0,0,.1) !important;
}
.input_group_cant_prod_cesta > input:focus {
    box-shadow: none;
}
.input_group_cant_prod_cesta > .sumar {
	width: 27%; 
	height: 100%;
    padding: 2.5px 0 0 5px;
	text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    /* border-radius: 0px 5px 5px 0px; */
}
.input_group_cant_prod_cesta > .restar {
	width: 27%; 
	height: 100%;
    padding: 2.5px 0 0 6px;
	text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    /* border-radius: 5px 0px 0px 5px; */
}
.input_group_cant_prod_cesta > .restar:hover, .input_group_cant_prod_cesta > .sumar:hover {
    color: #ffffff;
    background-color: #3eb291;
}


.content_btn_eliminar {
    text-align: right;
    display: block;
    position: absolute;
    top: -85px;
    right: -10px;
}

.eliminar_producto_cesta {
    background-color: #df3550;
    border-radius: 50%;
    border: 0;
}
.eliminar_producto_cesta i {
    color: #ffffff !important;
}







.modal_footer_cesta {
    width: 100%;
    height: 270px;
    padding: 5px 20px;
    background-color: #d2deeb;
    box-shadow: 0 -5px 5px -5px #333;
    z-index: 300;
}

.container_cupon {
    width: 100%;
}

.input_group_cupon_cesta {
    width: 100% !important;
}
.input_cupon_cesta {
    width: 75% !important;
    color: #3eb291;
    background: #d2deeb;
    font-size: 12px;
    border: 1px solid #a5aeb8;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
}
.append_cupon {
    width: 25% !important;
}
.btn_aplicar_cupon_cesta {
    width: 100% !important;
    color: #ffffff !important;
    background: #3eb291;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
}




.content_total_cesta {
    width: 100%;
    height: auto;
}

.monto_total_cesta {
    border: 1px solid rgba(0,0,0,.30);
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.30);
    border: 1px solid #a5aeb8;
}

.titulo_resumen {
    width: 100% !important;
    display: flex;
    border-bottom: 1px solid #a5aeb8;
}
.titulo_resumen p {
    width: 50% !important;
    font-size: 14px;
    font-weight: 700;
}
.titulo_resumen h6 {
    width: 50% !important;
    font-size: 16px;
    font-weight: 700;
}

.content_detalle_monto_total {
    width: 100%;
    display: flex;
}
.content_detalle_monto_total p {
    width: 35%;
    font-size: 13px;
}
.content_detalle_monto_total h6 {
    width: 65% !important;
    font-size: 14px;
}

.content_detalle_total {
    width: 100%;
    display: flex;
    border-top: 1px solid #a5aeb8;
    border-bottom: 1px solid #a5aeb8;
}
.content_detalle_total h5 {
    width: 35%;
    font-size: 18px;
    font-weight: 700;
    color: #3eb291;
}
.content_detalle_total h4 {
    width: 65% !important;
    font-size: 19px;
    color: #3eb291;
}

.content_botones_pedido {
    width: 100%;
}

.btn_realizar_pedido_cesta {
    color: #f2f8fd  !important;
    background: #3eb291 !important;
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    border: none;
    width: 100%;
}
.btn_realizar_pedido_cesta:hover,
.btn_realizar_pedido_cesta:focus {
    color: #ffffff !important;
}

