
/*---------------------
  MENU 1
-----------------------*/

.header__top {
	margin-top: -1px;
	background: #f5f5f5;
	height: 34px;
}



/* ------- SERVICIO AL CLIENTE -------*/

.header_top_cliente {
    width: 100%;
	height: 34px;
    display: inline-block;
}

.header_top_cliente li {
	list-style: none;
	width: 145px;
	height: 100%;
}

.header_top_cliente li:hover {
    background-color: #ffffff;
    box-shadow: 0 -10px 20px -5px #868686;
}
.header_top_cliente li a {
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding: 0px 10px !important;
	color: #5b6268!important;
}
.header_top_cliente li a:hover {
	font-size: 15px;
	color: #7fad39 !important;
}

.header_cliente_description:hover .herder_cliente_items {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.header_cliente_description .herder_cliente_items {
    position: absolute;
    top: 33px;
    left: 0;
    width: auto;
    background: #fff;
    padding: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0 10px 20px -5px #868686;
    -moz-box-shadow: 0 10px 20px -5px #868686;
    box-shadow: 0 10px 20px -5px #868686;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}





/* ------- AFILIAR RESTAURANTE -------*/
.header_top_empresa {
    width: 100%;
	height: 100%;
    display: inline-block;
}

.header_top_empresa li {
	list-style: none;
	width: auto;
	height: 100%;
	padding-top: 0px;
}

.header_top_empresa li a {
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding: 5px 10px !important;
	color: #5b6268!important;
}
.header_top_empresa li a:hover {
	font-size: 15px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 -10px 20px -5px #868686;
    -moz-box-shadow: 0 -10px 20px -5px #868686;
    box-shadow: 0 -10px 20px -5px #868686;
	color: #7fad39 !important;
}






/* ------- LOGIN -------*/
#ingresar_1 {
	display: none;
}

.header_top_login {
    width: 100%;
	height: 100%;
    display: inline-block;
}

.header_top_login li {
	list-style: none;
	width: 85px;
	height: 100%;
}

.header_top_login li:hover {
    background-color: #ffffff;
    box-shadow: 0 -10px 20px -5px #868686;
}
.header_top_login li a {
	width: 100%;
	height: 100%;
	font-size: 15px;
	padding: 0px 10px !important;
	color: #5b6268!important;
}
.header_top_login li a:hover {
	font-size: 15px;
	color: #7fad39 !important;
}

.header_login_description:hover .herder_login_items {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.header_login_description .herder_login_items {
    position: absolute;
    top: 33px;
    right: 0;
    width: auto;
    background: #fff;
    padding: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0 10px 20px -5px #868686;
    -moz-box-shadow: 0 10px 20px -5px #868686;
    box-shadow: 0 10px 20px -5px #868686;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}






@media (max-width: 768px) {
	#servicio_cliente {
		display: none;
	}
	#afiliar_empresa {
		display: none;
	}
	
	.header_login_description .herder_login_items {
		left: 0;
		width: 95px;
		padding: 10px 0px;
	}
	#ingresar_1 {
		display: initial;
	}
	#ingresar_2 {
		display: none;
	}
}