

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}


/* Tablet Device = 991px */

@media (max-width: 991px) {
	
	.footer__copyright {
		text-align: center;
	}
	.footer__copyright__text {
		float: none;
		margin-bottom: 25px;
	}
	.footer__copyright__payment {
		float: none;
	}
	
	.humberger__open {
		display: block;
		font-size: 22px;
		color: #ffffff;
		height: 35px;
		width: 35px;
		line-height: 33px;
		text-align: center;
		border: 1px solid #ffffff;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 12px;
	}
	.header .container {
		position: relative;
	}

	.humberger__menu__wrapper {
		width: 310px;
		background: #ffffff;
		position: fixed;
		left: -300px;
		top: 0;
		height: 100% !important;
		overflow-y: 100%;
		z-index: 99;
		opacity: 0;
		display: block;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__wrapper.show__humberger__menu__wrapper {
		opacity: 1;
		left: 0;
	}

	.humberger__menu__overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		z-index: 98;
		visibility: hidden;
		-webkit-transition: all, 0.6s;
		-moz-transition: all, 0.6s;
		-ms-transition: all, 0.6s;
		-o-transition: all, 0.6s;
		transition: all, 0.6s;
	}
	.humberger__menu__overlay.active {
		visibility: visible;
	}
	
	.header__menu {
		display: none;
	}

	.humberger__menu__logo {
		width: 100%;
		height: 10%;
	}
	.humberger__menu__login {
		width: 100%;
		height: 13%;
	}
	.humberger__menu__contact {
		width: 310px;
		height: 7%;
	}
	
	.humberger__menu__nav {
		width: 100% !important;
		height: 70% !important;
	}
	.nav_items {
		width: 100%;
		height: 100% !important;
		list-style: none;
		overflow: scroll;
	}
	.nav_items::-webkit-scrollbar {
		width: 5px;
		height: 0px;
		-webkit-appearance: none;
	}
	.nav_items::-webkit-scrollbar-thumb {
		background-color: rgba(0,0,0,.1);
		border-radius: 3px;
		border: 3px solid rgba(0,0,0,.1);
	}
	.nav_items::-webkit-scrollbar-track {
		border-radius: 10px;
	}

	.regresar_menu {
		color: #7fad39 !important;
		/* background-color: #e8f8f5 !important; */
	}




	/* PRIMER MENU */
	.nav-item {
		border-bottom: solid 1px rgba(0,0,0,.1);
	}
	/* .nav-item:first-child {
		border-top: solid 1px #daf9f4;
	} */
	.nav_link {
		display: block;
		padding: 10px;
		background-color: #ffffff;
		color: #5b6268;
		font-size: 14px;
	}
	.nav_link:hover {
		color: #7fad39;
	}
	

	/* SEGUNDO MENU */
	.nav_expand_content {
		position: absolute;
		left: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: 0.3s;
		visibility: hidden;
	}
	.nav_expanded.active > .nav_expand_content {
		transform: translateX(0);
		visibility: visible;
	}
	.nav_expanded .nav_expand_content {
		top: 23% !important;
		bottom: 7% !important;
		height: 69% !important;
	}
	.nav_expanded .nav_expand_content .nav_link {
		background-color: #ffffff;
	}
	.nav_expand_content .nav-item:not(:last-child) {
		border-bottom: solid 1px rgba(0,0,0,.1);
	}



	/* TERCER MENU */
	.nav_expanded .nav_expand_content .nav_expand_content {
		top: 0 !important;
		min-height: 200%!important;
		background-color: #ffffff;
	}


	.humberger__menu__contact .btn_servicio_2:focus {
		outline: none !important;
		outline-width: 0 !important;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;		
	}

}
