
.featured__item__pic__hover li:hover button {
	background: #7fad39;
	border-color: #7fad39;
}

.featured__item__pic__hover li:hover button i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li button {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li button i {
	/* position: relative; */
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
  
.carousel-inner {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
}
.carousel-item>img {
    position: relative;
    display: none;
    align-items: center;
    height: 275px !important;
    width: 100% !important;
    transition: .4s;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-item.active {
    display: block;
}

#cart_name {
    display: initial;
}

#cart_logo {
    display: none;
}

@media (max-width: 991px) {
    #product_description {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #cart_name {
        display: none;
    }
    #cart_logo {
        display: initial;
    }
}