
.open_menu_movil #icon_humberger {
    font-weight: 0px;
    margin-bottom: -13px;
}
.open_menu_movil #menu_humberger {
    font-size: 13px;
}

#afiliar_empresa_menu_movil a {
    width: 100%;
    color: #3eb291;
    background-color: #343a40;
    text-align: left;
    border-radius: 0;
}

.btn_movil_ronm {
    width: 100%;
    text-align: left;
    border-radius: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #ffffff;
}
.btn_movil_ronm:focus {
    box-shadow: none;
    color: #3eb291;
}

#accordionExample .card {
    border-radius: 0;
}

.btn_movil_categorias {
    width: 100%;
    text-align: left;
    border-radius: 0;
    background-color: #f2f2f2;
    border: 1px solid #ffffff;
}

.btn_movil_categorias:focus {
    box-shadow: none;
    color: #3eb291;
}

#menuMovilCategorias > div > a {
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding-left: 20px !important;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
}

.humberger__menu__contact {
    background-color: #ffffff;
    border-top:1px solid #f2f2f2;
}

.btn_servicio_2 {
    width: auto;
    border-radius: 0;
    color: #ffffff;
}
.btn_servicio_2:focus {
    box-shadow: none;
    color: #3eb291;
}
.humberger__menu__contact > .dropdown_menu_movil {
    left: 0;
    margin-left: -5px;
    width: auto;
    border-radius: 0;
}

.dropdown_menu_movil a {
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown_menu_movil .number_phone {
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}
.dropdown_menu_movil .suport {
    color: #ffffff;
    width: 100%;
    font-size: 12px;
}
.dropdown_menu_movil .border_movil_info {
    border-bottom: 1px solid #f2f2f2;
}


