
/* LOGIN MOVIL */

#login_movil {
    display: none;
}

@media (max-width: 576px) {

    #login_movil {
        display: initial;
    }
    .header_login_movil {
        width: 100% !important;
        height: 40px;
        margin-left: -5px;
    }
    .header_login_movil > button {
        width: auto;
        height: 45px;
        color: #ffffff !important;
        background-color: #3eb291;
        border: none;
        border-radius: 0;
        padding: 0;
    }
    
    .header_login_movil > button > #icon_login_movil {
        padding-left: 5px;
        padding-top: 7px;
        padding-right: 5px;
    }
    
    .header_login_movil > button h3 {
        width: 37.5px;
        height: 35px;
        font-size: 23px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ffffff;
        padding: 2px 0px 0px 0px;
    }
    .header_login_movil > button:focus h3 {
        border: 1px solid #3eb291;
    }
    .header_login_movil > button:focus {
        box-shadow: none;
        color: #3eb291 !important;
        background-color: #ffffff;
    }
    
    .header_login {
        border: 0;
        border-radius: 0;
        margin-top: 0.5px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px -5px #868686;
        -moz-box-shadow: 0 10px 20px -5px #868686;
        -webkit-box-shadow: 0 10px 20px -5px #868686;
        -o-box-shadow: 0 10px 20px -5px #868686;
        -ms-box-shadow: 0 10px 20px -5px #868686;
    }
    
    .header_login > .btn_login,
    .header_login > .btn_register {
        width: 92.5%;
    }
}

