




/* MODAL MENU MOVIL */

.content_modal_menumovil.content_modal_menumovil_on {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}

.sidebar_modal_menumovil_left {
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    left: -400px;
    background-color: #ffffff;
    z-index: 1100;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
}

.sidebar_modal_menumovil_left.sidebar_modal_menumovil_left_on {
    left: 0;
}
.sidebar_modal_menumovil_left #close_sidebar_menumovil {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 0;
    left: 100%;
    z-index: 100;
    display: block;
    font-size: 30px;
    text-align: center;
    border: 0;
    background-color: transparent;
    color: #ffffff !important;
}

.sidebar_modal_menumovil_left .content_menumovil {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.logo_menumovil {
    width: 100%;
    height: 50px;
    background-color: #dc3545;
    text-align: center;
    border-bottom: 1px solid #7d838a;
    box-shadow: 0 0 5px #333;
}
.logo_menumovil img {
    width: auto;
    height: 100%;
}


















/* SERVICIO AL CLIENTE MENU MOVIL */
.serviviocliente_menumovil {
    width: 100%;
    height: 100%;
    background-color: #343a40;
    text-align: center;
    border-bottom: 1px solid #7d838a;
}

.btn_serviciocliente_menumovil {
    width: 100%;
    color: #ffffff;
    border-radius: 0;
}
.btn_serviciocliente_menumovil:focus {
    color: #dc3545;
    box-shadow: none;
}
.dropdown_serviciocliente {
    width: auto;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.dropdown_serviciocliente a {
    color: #ffffff;
    font-size: 15px !important;
}
.dropdown_serviciocliente p {
    color: #ffffff;
    font-size: 15px !important;
}
.number_phone {
    line-height: 15px;
}
.border_movil_info {
    border-bottom: 1px solid #7d838a;
}








/* APPS MENU MOVIL */
.apps_menumovil {
    width: 100%;
    height: 100%;
    background-color: #343a40;
    text-align: center;
    border-bottom: 1px solid #7d838a;
}

.btn_apps_menumovil {
    width: 100%;
    color: #ffffff;
    border-radius: 0;
}
.btn_apps_menumovil:focus {
    color: #dc3545;
    box-shadow: none;
}
.dropdown_apps_movil {
    width: auto;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.dropdown_apps_movil a {
    color: #ffffff;
    font-size: 15px !important;
}
.dropdown_apps_movil p {
    color: #ffffff;
    font-size: 15px !important;
}








/* MODAL APPS MOVIL */
@media (min-width: 576px) {
    #open_apps_movil {
        display: none;
    }
}

#open_apps_movil {
    height: 100% !important;
}
#open_apps_movil > .modal-dialog {
    height: 97.5% !important;
}
#open_apps_movil > .modal-dialog > .modal-content {
    height: 100% !important;
    border-radius: 0 !important;
}
.btn_seguir_navengado_navegador {
    color: #ffffff;
    background-color: #fd0606;
    font-size: 14px;
}
.btn_registrar_productos_modal {
    color: #4e4e4e;
    background-color: #ffe600;
    font-size: 14px;
}
.btn_registrar_productos_menumovil {
    color: #ffe600;
    font-size: 14px;
}

















/* MENU MOVIL */

.content_scroll_menumovil {
    width: 100% !important;
    height: 90% !important;
    background-color: #ffffff;
    box-shadow: inset 0 5px 5px -5px #333;
}

.scroll_menumovil {
    width: 100% !important;
    height: 92.5% !important;
    overflow: scroll;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 0;
}
.scroll_menumovil::-webkit-scrollbar {
    -webkit-appearance: none;
}
.scroll_menumovil::-webkit-scrollbar:vertical {
    width: 7px;
}
.scroll_menumovil::-webkit-scrollbar:horizontal {
    height: 0px;
}
.scroll_menumovil::-webkit-scrollbar-thumb {
    background-color: #7d838a;
    border-radius: 4px;
    border: 4px solid #7d838a;
}
.scroll_menumovil::-webkit-scrollbar-track {
    border-radius: 10px;
}
























