/*---------------------
  MENU 2
-----------------------*/
.header_top_secondary {
    width: 100% !important;
    height: 50px;
    background-color: #3eb291;
	box-shadow: 0 5px 5px -5px #333;
	z-index: 5;
}


#header__logo {
    width: 100%;
    height: 50px;
    padding: 2px 0 !important;
	border-right: 1px solid #ececec;
}

@media (max-width: 991px) {
    .header_top_secondary {
        height: 45px;
    }
	#header__logo {
		height: 45px;
	}
	#header__logo img {
		height: 40px;
	}
}


#listadeseos_and_cesta {
	width: 100% !important;
	height: 100%;
	display: flex;
	padding-right: 0;
}



.header_menu_categorias {
    width: 100%;
	height: 100%;
}

.header_menu_categorias > .btn_menu_categorias {
	width: 100%;
	height: 100%;
	font-size: 17px;
	border: 0;
	text-transform: uppercase;
	background-color: #37a183;
}

.header_menu_categorias > .header_categorias {
	width: 200px !important;
	margin-top: 0;
	border: 0;
	border-radius: 0;
	background-color: #ebe9e9;
}

.header_menu_categorias > .header_categorias > li > a:hover,
.header_menu_categorias > .header_categorias > li > a:focus {
	font-weight: 700;
	background-color: #ffffff;
	border-left: 8px solid #3eb291;
}


.dropdown-submenu {
	position: relative;
}
  
.dropdown-submenu > #menuCategorias {
	width: 300px !important;
	border: 0;
	border-radius: 0;
	top: 0;
	left: 99%;
	margin-top: -135px;
	padding-left: 10px;
	padding-right: 20px;
}
.dropdown-submenu > #menuCategorias > li > a {
	color: #333333;
}
.dropdown-submenu > #menuCategorias > li > a:hover,
.dropdown-submenu > #menuCategorias > li > a:focus {
	color: #3eb291;
	border: 0;
}


@media (max-width: 991px) {
	#menu_categorias {
		display: none;
	}
}


@media (min-width: 1200px) {
	.header_menu_categorias > .btn_menu_categorias {
		font-size: 20px;
	}
}
