
/* SEARCH WEB */
.header_search_web {
    width: 100%;
}

.header_search_web .input-group  {
    width: 100%;
    height: 39px !important;
    font-size: 20px;
    color: #3eb291 !important;
    background-color: #ffffff;
    padding: 5px 10px !important;
    border-radius: 20px;
    margin-top: 5px;
}
.header_search_web .input-group .input_buscar {
    width: 100%;
    height: 100% !important;
    font-size: 12px;
    border: 0;
}
.header_search_web .input-group .input_buscar:focus {
    box-shadow: none;
}
.header_search_web .input-group .btn_buscar_productos {
    height: 100% !important;
    border: 0;
    padding: 4px 10px 0px 10px;
}
.header_search_web .input-group .btn_buscar_productos i {
    color: #3eb291;
    font-size: 19px;
}

@media only screen and (min-width: 579px) and (max-width: 991px) {
    .header_search_web .input-group  {
        height: 34px !important;
    }

}
    


/* SEARCH MOVIL */
#search_movil {
    display: none;
}


@media only screen and (min-width: 0px) and (max-width: 576px) {
    #search_web {
        display: none;
    }

    /* SEARCH MOVIL */
    #search_movil {
        display: initial;
    }
    .header_search_movil {
        width: 100%;
        height: 40px;
    }
    .header_search_movil > button {
        width: auto;
        height: 45px;
        color: #ffffff !important;
        background-color: #3eb291;
        border: none;
        border-radius: 0;
        padding: 0;
    }
    
    .header_search_movil > button > #icon_search {
        padding-left: 5px;
        padding-top: 6px;
        padding-right: 5px;
    }
    
    .header_search_movil > button h3 {
        width: 37.5px;
        height: 35px;
        font-size: 22px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ffffff;
        padding: 3px 0px 3px 0px;
    }
    .header_search_movil > button:focus h3 {
        border: 1px solid #3eb291;
    }
    .header_search_movil > button:focus {
        box-shadow: none;
        color: #3eb291 !important;
        background-color: #ffffff;
    }
    
    
    #search_input_box {
        position: fixed;
        height: 75px;
        top: 0px;
        left: 50%;
        width: 100%;
        z-index: 200;
        background: #3eb291;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        box-shadow: 0 10px 20px -5px #868686;
        -moz-box-shadow: 0 10px 20px -5px #868686;
        -webkit-box-shadow: 0 10px 20px -5px #868686;
        -o-box-shadow: 0 10px 20px -5px #868686;
        -ms-box-shadow: 0 10px 20px -5px #868686;
    }

    #close_search > i {
        margin-top: -60px;
        margin-right: -10px;
        color: #ffffff;
        float: right;
    } 

    #close_search {
        position: relative;
        z-index: 99999;
        top: 2px;
        color: rgb(20, 20, 20);
        cursor: pointer;
        font-size: 20px !important;
    }

    select:focus, .form-control:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

