
.header__search__web>#search_1>i {
    font-size: 25px;
    padding: 12.5px 10px;
    color: #ffffff;
}
.header__search__web>#search_1>i:hover, .header__search__web>#search_1>i:focus {
    color: #7fad39;
}
.header__search__movil {
    display: none;
}

#search_input_box {
    position: fixed;
    top: 77px;
    left: 50%;
    width: 100%;
    max-width: 1140px;
    z-index: 999;
    text-align: center;
    background: #ffffff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
}

#close_search {
    position: relative;
    z-index: 99999;
    top: 2px;
    color: rgb(20, 20, 20);
    cursor: pointer;
    font-size: 20px !important;
}

select:focus, .form-control:focus {
	outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* Tablet Device = 991px */

@media (max-width: 991px) {
    
    .header__search__web {
        display: none;
    }
    .header__search__movil {
        display: initial;
    }
    .header__search__movil>#search_2>i {
        font-size: 20px;
        padding: 6px 9px 1.5px 9px !important;
        color: #5b6268!important;
        cursor: pointer;
    }
    .header__search__movil>#search_2>i:hover, .header__search__movil>#search_2>i:focus {
        color: #7fad39;
    }

    #search_input_box {
        top: 90px;
    }

    #close_search {
        right: 10px;
    }
}


@media (max-width: 578px) {
    #search_input_box {
        padding-bottom: 15px;
    }
}
