/* Header cart top */

.header_top_cart {
    width: 100%;
    height: 100%;
}

.header_top_cart > button {
    width: 100%;
    height: 50px;
    color: #ffffff !important;
    background-color: #3eb291;
    padding: 0px !important;
    border: none;
    border-radius: 0;
}

.header_top_cart #icon_pedido {
    padding: 5px 10px 0px 0px !important;
}

.header_top_cart > button h3 {
    width: 45px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 1px 0px 0px 0px;
    float: right;
}

.header_top_cart > button #content_mi_pedido {
    padding-left: 0;
    padding-top: 12px;
}

.header_top_cart > button p {
    font-size: 13px;
    line-height: 15px;
}
.header_top_cart > button h5 {
    font-size: 15px;
    font-weight: 800 !important;
}

.header_top_cart > button:focus {
    box-shadow: none;
    color: #3eb291 !important;
    background-color: #ffffff;
    /* box-shadow: 0 -10px 20px -5px #868686; */
}

.header_top_cart > button span {
    top: 2px;
    right: 5px;
    height: 17.5px;
    width: 17px;
    color: #ffffff;
    background: #9c5c32;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header_top_cart > button p {
      font-size: 11px;
    }
    .header_top_cart > button h5 {
      font-size: 13px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 991px) {
    #amount_menu_pedido {
        display: none;
    }

    .header_top_cart {
        height: 40px;
    }
    .header_top_cart > button {
        height: 45px;
        padding: 0px 0px 5px 0px !important;
    }

    .header_top_cart > button h3 {
        width: 35px;
        height: 29px;
        font-size: 22px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #5b6268;
        padding: 0px;
        margin-bottom: -6px !important;
    }
    
    .header_top_cart > button #content_mi_pedido {
        padding-left: 0;
        padding-top: 12px;
    }

    .header_top_cart > button p {
        width: 100%;
        font-size: 10px;
        line-height: 0px;
        text-align: center;
        margin-left: 7.5px !important;
    }
    .header_top_cart > button span {
        height: 13px;
        width: 15px;
        font-size: 11px;
    }

    .header_cart {
        top: 1px !important;
        width: 340px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 25px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 20px;
    }
}
@media only screen and (min-width: 351px) and (max-width: 400px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 23px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 17.5px;
    }
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 27.5px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 22.5px;
    }
}
@media only screen and (min-width: 451px) and (max-width: 500px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 32.5px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 27.5px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 550px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 37.5px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 32.5px;
    }
}
@media only screen and (min-width: 551px) and (max-width: 600px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 40px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 35px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header_top_cart #icon_pedido {
        text-align: center !important;
        padding: 4px 42.5px 0px 0px !important;
    }
    .header_top_cart > button span {
        top: 2px;
        right: 37.5px;
    }
}




/* ----PRODUCTOS----- */

.header_cart {
    width: 350px;
    top: 1px !important;
    right: 0px;
    padding: 15px;
    background-color: #ffffff;
    text-align: center;
    border: 0;
    border-radius: 0;

    box-shadow: 0 10px 20px -5px #868686;
    -moz-box-shadow: 0 10px 20px -5px #868686;
    -webkit-box-shadow: 0 10px 20px -5px #868686;
    -o-box-shadow: 0 10px 20px -5px #868686;
    -ms-box-shadow: 0 10px 20px -5px #868686;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header_cart {
        top: 11px !important;
    }
}
@media (max-width: 767px) {
    .header_cart {
        top: 11px !important;
    }
}

.border_caja_product {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7.5px;
    padding: 5px;
}
.border_caja_product > div > img {
    width: 37.5 !important;
    height: 37.5px !important;
}

.cart_product_nombre {
    text-align: left;
    line-height: 18px;
    font-weight: 700;
}
.cart_product_nombre a {
    color: #5b6268;
}
.cart_product_nombre a:hover,
.cart_product_nombre a:focus {
    color: #3eb291;
}
.cart_product_description {
    text-align: left;
    line-height: 18px;
    color: #5b6268;
}
.cart_product_precio {
    line-height: 18px;
    margin-bottom: -5px;
    color: #3eb291;
}

.eliminar_compra {
    background: #df3550;
    width: 18px;
    height: 18px;
    display: block;
    text-align: center;
    border-radius: 50px;
    padding: 0px !important;
    font-size: 12px;
    color: #ffffff;
    color: white;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
}

.sumaCantidadCestaMenu_content {
    color: #5b6268;
    font-weight: 700;
}

.sumaTotalCestaMenu_content {
    color: #3eb291;
}

.btn_pedido_cart {
    color: #3eb291;
    background: #ececeb;
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}
.btn_pedido_cart:hover,
.btn_pedido_cart:focus {
    color: #ffffff;
    background: #3eb291;
    box-shadow: none;
}

.scroll_cart_header {
    width: 100% !important;
    height: 200px !important;
    text-align: center;
}

.dropdown_cart_header {
    width: 100% !important;
    height: 100% !important;
    overflow: scroll;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 1px 8px 5px 5px;
}
.dropdown_cart_header::-webkit-scrollbar {
    -webkit-appearance: none;
}
.dropdown_cart_header::-webkit-scrollbar:vertical {
    width: 5px;
}
.dropdown_cart_header::-webkit-scrollbar:horizontal {
    height: 0px;
}
.dropdown_cart_header::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0.1);
}
.dropdown_cart_header::-webkit-scrollbar-track {
    border-radius: 10px;
}
