

#contenido_detalle_pedido {
    background-color: #ffffff;
    border-radius: 5px;
}

#contenido_producto_detalle_pedido {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #DFDFDF;
}

.nombre_produc_detalle {
    font-weight: 700;
    line-height: 18px;
}
.descripcion_produc_detalle {
    line-height: 18px;
}
.prec_cant_subt {
    font-size: 12px;
    font-weight: 700;
}
.cantidad_detalle {
    border-left-style: dashed; 
    border-left-width: 1px;
    border-left-color: #d7dbdf;
    border-right-style: dashed; 
    border-right-width: 1px;
    border-right-color: #d7dbdf;
}

.botones_detalle_pedido {
    font-size: 14px;
    margin-top: 15px;
    text-align: right;
}

.eliminarProductoCestaTabla {
    color: #df3550 !important;
    background-color: #ffffff;
    border: 1px solid #df3550;
    border-radius: 50%;
}

@media only screen and (min-width: 579px) and (max-width: 767px) {
    .botones_detalle_pedido {
        margin-top: -185px !important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
    #contenido_detalle_pedido {
        margin-bottom: 25px !important;
    }
    .column_detalle_pedido_1 {
        padding-bottom: 10px;
        border-bottom-style: dashed; 
        border-bottom-width: 1px;
        border-bottom-color: #d7dbdf;
    }
    .padding_column_detalle_pedido {
        padding: 10px !important;
        border-bottom-style: dashed; 
        border-bottom-width: 1px;
        border-bottom-color: #d7dbdf;
    }

    .botones_detalle_pedido {
        margin-top: 5px;
    }
}



.content_cupon_total_pedido {
    padding-left: 40px;
}


@media (min-width: 992px) {
    .sticky_top_detalle_pedido {
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 55px !important;
        z-index: 0 !important;
    }
}

.input_group_cupon {
    width: 100% !important;
}
.input_cupon {
    width: 75% !important;
    color: #3eb291;
    background: #ffffff;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.btn_aplicar_cupon_append {
    width: 25% !important;
}
.btn_aplicar_cupon {
    width: 100% !important;
    color: #ffffff !important;
    background: #3eb291;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}



.monto_total_detalle {
    background-color: #ffffff;
    border-radius: 8px;
}

.btn_realizar_pedido {
    color: #5b6268  !important;
    background: #3eb291 !important;
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    border: none;
    width: 100%;
}
.btn_realizar_pedido:hover,
.btn_realizar_pedido:focus {
    color: #ffffff !important;
}


.btn_seguir_comprando {
    color: #5b6268  !important;
    background: #ececeb;
    padding: 10px 20px;
    display: block;
    margin-top: 10px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    border: none;
    width: 100%;
    text-align: center;
}
.btn_seguir_comprando:hover,
.btn_seguir_comprando:focus {
    color: #ffffff !important;
    background: #3eb291;
}

@media (max-width: 768px) {
    .content_cupon_total_pedido {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content_cupon_total_pedido {
        padding-left: 15px;
    }
    .comtent_monto_total_detalle {
        padding-left: 40px !important;
        margin-top: 0px !important;
    }
    .botones_detalle_pedido {
        margin-top: -175px;
    }
}