
.prec_cant_subt {
    font-size: 12px;
    font-weight: 700;
}
.padding_column_listadeseos {
    
    border-right-style: dashed; 
    border-right-width: 1px;
    border-right-color: #d7dbdf;
}

.cart_product_foto_lista{
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100px;
    height: 115px;
}
.cart_product_foto_lista img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.cart_product_foto_lista.hover_img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}



.agregar_producto_delista_apedidos {
    color: #3eb291;
    background-color: #ffffff;
    border: 1px solid #3eb291 !important;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    width: auto;
    padding: 5px;
    text-align: center;
}
.agregar_producto_delista_apedidos:hover,
.agregar_producto_delista_apedidos:focus {
    color: #ffffff !important;
    background: #3eb291;
}

.eliminarProductodeseosTabla {
    color: #df3550 !important;
    background-color: #ffffff;
    border: 1px solid #df3550;
    border-radius: 50%;
}


@media (max-width: 576px) {
    .cart_product_foto_lista{
        width: 100px;
        height: 70px;
    }
    .agregar_producto_delista_apedidos {
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #3eb291;
    }
    .agregar_producto_delista_apedidos i {
        font-size: 18px !important;
        color: #3eb291;
    }
    .agregar_btn_modal {
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 991px) {
    #contenido_detalle_pedido {
        margin-bottom: 25px !important;
    }
    .column_detalle_pedido_1 {
        padding-bottom: 10px;
        border-bottom-style: dashed; 
        border-bottom-width: 1px;
        border-bottom-color: #d7dbdf;
    }
    .padding_column_listadeseos,
    .padding_column_agregar,
    .botones_detalle_listadeseos {
        padding: 10px !important;
        border-bottom-style: dashed; 
        border-bottom-width: 1px;
        border-bottom-color: #d7dbdf;
    }
}
