
.section_heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.section_heading h2 {
    font-size: 48px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.section_heading.text-left {
    text-align: left !important;
}


/* ----------------------------
:: 11.0 New Arrivals Area Start
---------------------------- */

.portfolio-menu > .btn {
    color: #1c1c1c;
    font-weight: 700;
    padding: 0 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.portfolio-menu > .btn:focus,
.portfolio-menu > .btn.active {
    color: #7fad39;
    box-shadow: none;
}

.single_gallery_item {
    margin-bottom: 100px;
    overflow: hidden
}

.product-img {
    position: relative;
    z-index: 1;
    overflow: hidden
}

.product-img > img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover .product-img > img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}


/* :: 8.0 Popular Products Area CSS */
.single_product_wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    border: none !important;
    border-radius: 5px;
}
.single_product_wrapper:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.14);
}
.single_product_wrapper .product-img {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 200px;
}
.single_product_wrapper_rec .product-img {
    height: 180px !important;
}
.single_product_wrapper .product-img img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single_product_wrapper .product-img .hover-img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}
.single_product_wrapper .product-img .product-badge {
    height: 25px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    line-height: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}
.single_product_wrapper .product-img .product-badge.empresa_badge {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}
/* .single_product_wrapper .product-img .product-badge.empresa_direccion_badge {
    top: 25px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
} */
.single_product_wrapper .product-img .product-badge.offer-badge {
    background-color: #dc0345;
}
.single_product_wrapper .product-img .product-badge.new-badge {
    background-color: #0315ff;
}

.single_product_wrapper .favme {
    cursor: pointer;
    color: #ccc;
}
.single_product_wrapper .favme.active {
    color: #dc0345 !important;
}
.single_product_wrapper .favme.is_animating {
    animation: favme-anime 0.5s;
}
.single_product_wrapper:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible;
}



/*---------------------
  SUMAR O RESTAR UNIDADES DE PRODUCTO
-----------------------*/
.input_group_unit_product {
	width: 100%;
	height: 36px;
	padding: 0 !important;
}
.input_group_unit_product > .more {
	width: 27%; 
	height: 100%;
    border-left: 1px solid rgba(0,0,0,.1) !important;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
	padding: 0px 1px 0px 0px !important;
	margin: 0 !important;
	border: none;
	text-align: center;
    background-color: #ffffff;
    color: #000000;
}
.input_group_unit_product > .minus {
	width: 27%; 
	height: 100%;
    border-right: 1px solid rgba(0,0,0,.1) !important;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
	padding: 0px 1px 0px 0px !important;
	margin: 0 !important;
	border: none;
	text-align: center;
    background-color: #ffffff;
    color: #000000;
}
.input_group_unit_product > .minus:hover, .input_group_unit_product > .more:hover {
    color: #7fad39;
}



.input_group_unit_product > input {
	width: 45%;
	height: 100%;
	padding: 0 !important;
	margin: 0 -4px 0 -3px !important;
	border: none;
}




/* AGREGAR, FAVORITOS, VISTA PREVIA */
.agregar_cart, .agregar_favoritos, .abrir_modal_producto{
    border: 1px solid rgba(0,0,0,.1);
    width: 100% !important;
    background-color: #ffffff;
    color: #000000;
}
.agregar_cart:hover, .agregar_favoritos:hover, .abrir_modal_producto:hover {
    color: #ffffff;
    background-color: #7fad39;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.agregar_cart:hover i, .agregar_favoritos:hover i, .abrir_modal_producto:hover i {
    color: #ffffff;
    background-color: #7fad39;
    transform: rotate(360deg);
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.agregar_cart i, .agregar_favoritos i, .abrir_modal_producto i {
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}






/*---------------------
  PRECIO NORMAL SI HAY OFERTA
-----------------------*/

.link_producto_detalle {
    color: #212529;
    font-weight: 700;
}
.link_producto_detalle:hover, 
.link_producto_detalle:focus {
    color: #7fad39;
}


.featured__item__text > div > p span {
    top: 68%;
    left: 8%;
    height: 30px;
	width: 70px;
	color: #6d6b6b;
	background: #f1f1f1;
	font-size: 11px !important;
	text-align: center;
	font-weight: 700;
	border-radius: 10%;
    position: absolute;
    line-height: 14px;
}
.featured__item__text > div > h4 {
    padding-right: 11px !important;
}

.featured__item__text_recomendados > div > p span {
    top: 66.5% !important;
    left: 6%;
    height: 30px;
	width: 60px;
	color: #6d6b6b;
	background: #f1f1f1;
	font-size: 10px !important;
	text-align: center;
	font-weight: 600 !important;
	border-radius: 10%;
    position: absolute;
    line-height: 14px;
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .featured__item__text > div > h4 {
        font-size: 21px !important;
        text-align: right;
        padding-right: 2px !important;
    }
    .featured__item__text > div > p span {
        left: 9%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 276px) {
    .featured__item__text > div > h4 {
        font-size: 21px !important;
        text-align: right;
        padding-right: 15px !important;
    }
}

@media (max-width: 480px) {
    .single_product_wrapper .product-img {
      position: relative;
      z-index: 1;
      overflow: hidden;
      height: 260px;
    }

    .featured__item__text > div > h4 {
        font-size: 25px !important;
        text-align: right;
        padding-right: 15px !important;
    }

    .featured__item__text > div > p span {
        left: 9%;
        top: 72%;
    }
  
}

