



.card_productos_cart {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}


/* PRODUCTOS */

.border_producto_cart {
    height: auto;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
}

.imagen_producto_cart {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .imagen_producto_cart img {
    width: 100%;
    height: 100% !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }
  .imagen_producto_cart .hover_img {
    width: 100%;
    height: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }

.nombre_producto_cart {
    font-weight: 700;
}


@media (max-width: 768px) {
    .border_productos_cart {
        margin-top: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-top-style: dashed;
        border-top-width: 1px;
        border-top-color: #d7dbdf;
    }   
}

.precio_producto_Cart h6 {
    font-size: 14px;
    font-weight: 700;
}
.cantidad_producto_cart {
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #d7dbdf;
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: #d7dbdf;
}
.cantidad_producto_cart h6 {
    font-size: 14px;
    font-weight: 700;
}

.input_cantidad_producto_cart {
	width: 100%;
	height: 27.5px;
    padding: 0 !important;
}
.input_cantidad_producto_cart > input {
	width: 50%;
    height: 100%;
    padding: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    border-left: 1px solid rgba(0,0,0,.1) !important;
    border-right: 1px solid rgba(0,0,0,.1) !important;
}
.input_cantidad_producto_cart > input:focus {
    box-shadow: none;
}
.input_cantidad_producto_cart > .sumar_restar_cantidad_producto {
	width: 25%; 
	height: 100%;
    padding-top: 0;
	text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
}

.input_cantidad_producto_cart > .sumar_restar_cantidad_producto:hover {
    color: #ffffff;
    background-color: #3eb291;
}

.actualizar_producto_cart {
    color: #ffffff;
    background-color: #3eb291;
    border: 1px solid rgba(0,0,0,.2);
}

.subtotal_producto_cart h6 {
    font-size: 14px;
    font-weight: 700;
}



.btn_eliminar_producto_cart {
    background: #ffffff !important;
    border: 1px solid rgba(0,0,0,.1);
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    padding-top: 2px;
}
.btn_eliminar_producto_cart i {
    color: #df3550 !important;
}




/* REALIZAR PEDIDO */
.margin_realizar_pedido_cart {
    padding-left: 25px !important;
}

@media (max-width: 991px) {
    .margin_realizar_pedido_cart {
        padding-left: 0px !important;
        margin-top: 30px;
    }
}


.sticky-top-2 {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    z-index: 2;
}

.content_resumen_realizar_pedido {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}


.content_resumen_pedido_cart {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.content_tota_pedido_cart h5 {
    color: #3eb291;
}
.content_tota_pedido_cart h4 {
    color: #3eb291;
    font-weight: 700;
}


.content_btn_realizar_pedido_cart {
    border-top: 1px solid rgba(0,0,0,.1);
}

.btn_realizar_pedido_cart {
    width: 250px;
    color: #ffffff;
    background-color: #3eb291;
    font-size: 20px;
    border: 0;
}

.btn_seguir_comprando_cart {
    width: 250px;
    color: #ffffff;
    background-color: #9ca1a0;
    font-size: 16px;
    border: 0;
    border-radius: 0;
}
.btn_seguir_comprando_cart:hover,
.btn_seguir_comprando_cart:focus {
    color: #ffffff;
    box-shadow: none;
}





