/* Header cart top */


#btn_open_favorites {
  width: 100%;
  border: none;
  background-color: #343a40;
}


.content_modal.content_modal_on {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

/* Cart Area CSS */
.sideban_modal_right {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: -400px;
  background-color: #ffffff;
  z-index: 1100;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}

.sideban_modal_right.sideban_modal_right_on {
  right: 0;
}
.sideban_modal_right #close_sidebar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 100%;
  z-index: 100;
  display: block;
  font-size: 30px;
  text-align: center;
  border: 0;
  background-color: #343a40;
  color: #ffffff;
}


.sideban_modal_right .cart_content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cart_tittle_favorites {
  width: 100%;
  height: 50px;
  background-color: #343a40;
  text-align: center;
}
.cart_tittle_favorites p {
  width: 100%;
  color: #ffffff;
  line-height: 16px;
  padding-top: 9px;
}



.scroll_cart_content {
  width: 100%;
  height: 100%;
}

#mostarFavoritosProductos {
  width: 100% !important;
  height: 100% !important;
  overflow: scroll;
  box-sizing: border-box;
}
#mostarFavoritosProductos::-webkit-scrollbar {
  -webkit-appearance: none;
}
#mostarFavoritosProductos::-webkit-scrollbar:vertical {
  width: 5px;
}
#mostarFavoritosProductos::-webkit-scrollbar:horizontal {
  height: 0px;
}
#mostarFavoritosProductos::-webkit-scrollbar-thumb {
  background-color: #7d838a;
  border-radius: 4px;
  border: 4px solid #7d838a;
}
#mostarFavoritosProductos::-webkit-scrollbar-track {
  border-radius: 10px;
}


.border_fav_prod {
  height: 110px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #dfdfdf;
}




.foto_fav_prod {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.foto_fav_prod img {
  width: 100%;
  height: 55px !important;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.foto_fav_prod .hover_img {
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}








.column_detalle_favoritos {
  padding-bottom: 7.5px !important;
  margin-bottom: 7.5px !important;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #d7dbdf;
}

.foto_fav_prod > img {
  width: 100%;
  height: 100%;
}

.nombre_fav_prod {
  color: #2a2b2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.descripcion_fav_prod {
  font-size: 11px;
}
.precio_fav_prod {
  color: #3eb291;
  font-size: 15px;
  line-height: 18px;
}



.content_detalles_prod_fav {
  width: 100%;
}

.import_price_fav {
  font-size: 10px;
  line-height: 14px;
  width: 21%;
}




.input_group_unit_product_fav {
	width: 30%;
	height: 27.5px;
  padding: 0 !important;
  margin-right: 6px;
}
.input_group_unit_product_fav > input {
  width: 45%;
  height: 100%;
  padding: 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.input_group_unit_product_fav > input:focus {
    box-shadow: none;
}
.input_group_unit_product_fav > .more {
	width: 27%; 
	height: 100%;
    padding-top: 0;
	text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    /* border-radius: 0px 5px 5px 0px; */
}
.input_group_unit_product_fav > .minus {
	width: 27%; 
    height: 100%;
    padding-top: 0;
	text-align: center;
    border: 1px solid rgba(0,0,0,.2) !important;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    /* border-radius: 5px 0px 0px 5px; */
}
.input_group_unit_product_fav > .minus:hover, .input_group_unit_product_fav > .more:hover {
    color: #ffffff;
    background-color: #3eb291;
}





.agregar_cart_de_favoritos {
  width: 35%;
  height: 27.5px;
  font-size: 16px;
  text-align: center;
  color: #687480 !important;
  background-color: #ffffff;
  border: 1px solid #c8c9c9;
}
.agregar_cart_de_favoritos:hover {
  color: #3eb291 !important;
  font-size: 16px;
  transition: all, 0.5s;
  
}








/* MODAL PRODUCTOS FAVORITOS */
.abrir_modal_producto_favoritos {
  background: #ffffff !important;
  width: 10%;
  height: 27.5px;
  text-align: center;
  font-size: 15px;
  color: #687480 ;
  border: 1px solid #c8c9c9;
  cursor: pointer;
}


#abrir_modal_producto_favoritos{
  z-index: 1500;
  background-color: rgba(0,0,0,.7);
}


#abrir_modal_producto_favoritos .close_modal_inicio {
  box-shadow: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -10px;
  top: -10px;
  padding-bottom: 10px;
  text-align: center;
  color: #000000;
  background-color: #ffffff !important;
  border: 1px solid #5b6268 !important;
  border-radius: 50%;
}



@media (max-width: 991px) {
  #titulo_producto_modal_listadeseos {
      margin-top: 20px;
  }
}




.eliminarProductoListaDeseos {
  background: #df3550 !important;
  width: 25px;
  height: 25px;
  display: block;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  padding-top: 2px;
}
