

.wrap-slick2 {
  position: relative;
}

/* ------------------------------------ */
.arrow-slick2 {
  position: absolute;
  z-index: 100;
  top: calc((100% - 70px) / 2);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  color: #333;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 10px #3333331c;
  border: none;
  font-size: 25px;
  padding: 11px 8px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-slick2:hover {
  color: #fff;
  background: #7fad39;
}

.next-slick2 {
  right: -5px;
}

.prev-slick2 {
  left: -6px;
}

@media (max-width: 1200px) {
  .next-slick2 {
    right: 0px;
  }

  .prev-slick2 {
    left: 0px;
  }
}

@media (max-width: 1610px) {
  .rs1-slick2 .next-slick2 {
    right: 0px;
  }

  .rs1-slick2 .prev-slick2 {
    left: 0px;
  }
}


@media (max-width: 576px) {
  .wrap-slick2 {
    height: 100%;
  }
  .slick2 {
    height: 100%;
  }
  .wrap-slick2 > .slick2 {
    padding: 0 15px !important;
  }
}